<% include ../partials/header %>

<div class="container">
	<h1>All Shipments Page</h1>
	<hr>
		<div class="row">
		<% shipments.forEach(function(shipment){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   	<h4><a><%=shipment.shippingnumber%></a></h4>
			<div class="caption">
			<p><%= shipment.loaddate %></p>
			<p><%= shipment.market %></p>
                       <p><%= shipment.shipname %></p>
                   </div>
                   <p>
                       <a href="/shipment/<%= shipment._id %>" class="btn btn-outline-success">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
	</div>
</div>
<% include ../partials/footer %>
